receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024
  
  memory_limiter:
    check_interval: 1s
    limit_mib: 512
    spike_limit_mib: 128

  resource:
    attributes:
      - key: service.environment
        value: development
        action: upsert

exporters:
  opensearch:
    http:
      endpoint: http://opensearch:9200
    logs_index: mintstack-logs
    traces_index: mintstack-traces
  
  prometheus:
    endpoint: 0.0.0.0:8889
    namespace: mintstack
  
  logging:
    verbosity: detailed

extensions:
  health_check:
    endpoint: 0.0.0.0:13133
  
  pprof:
    endpoint: 0.0.0.0:1777
  
  zpages:
    endpoint: 0.0.0.0:55679

service:
  extensions: [health_check, pprof, zpages]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch, resource]
      exporters: [opensearch, logging]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [prometheus, logging]
    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch, resource]
      exporters: [opensearch, logging]
  
  telemetry:
    logs:
      level: info
    metrics:
      address: 0.0.0.0:8888
